
// ヘッダー

.header {
  height: 64px;
  background-color: #fff;
  &__contents {
    margin: 0 50px;
    padding: 12px 0;
    height: 64px;
    width: 1377px;
    .header__Photo-diary {
      display: flex;
      width: 180px;
      margin-left: 10px;
      .header__icon-camera {
        font-size: 1.8em;
        margin-right: 10px;
        margin-top: 5px;
      }
      .header__title {
        font-size: 25px;
        font-family: cursive;
        font-weight: 600;
        color: black;
      }
    }
  }
}

