
// ヘッダー

.header {
  height: 64px;
  background-color: #fff;
  &__contents {
    margin: 0 50px;
    padding: 12px 0;
    height: 64px;
    width: 1377px;
    display: flex;
    .header__Photo-diary {
      display: flex;
      width: 180px;
      margin-left: 10px;
      .header__icon-camera {
        font-size: 1.8em;
        margin-right: 10px;
        margin-top: 5px;
      }
      .header__title {
        font-size: 25px;
        font-family: cursive;
        font-weight: 600;
        color: black;
      }
    }
    .header__seach {
      margin-left: 250px;
      margin-top: 5px;
      height: 30px;
      .search-form {
        display: flex;
        margin-left: 100px;
        .search-input {
          padding-left: 5px;
          margin-right: 10px;
          width: 300px;
          border: solid 1px;
          border-radius: 2px;
        }
        .search-btn {
          width: 50px;
          background-color: #FF6666;
          border: solid 1px #FF6666;
          border-radius: 5px;
          color: #fff;
          font-weight: bold;
        }
      }
    }
    .current-user__icon {
      margin-left: auto;
      margin-right: 50px;
      height: 40px;
      width: 40px;
      position: relative;
      .current-user__image {
        height: 40px;
        width: 40px;
        border-radius: 90px;
        position: absolute;
      }
    }
  }
}

