//mixin

@mixin nav__right__text {
  width: 85px;
  height: 48px;
  text-align: center;
  margin-left: 10px;
}

@mixin nav__right__btn {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

// nav部分

.header__nav {
  height: 48px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 0 1px rgba(34,34,34,.08);
  .nav__menu {
    margin: 0 50px;
    height: 48px;
    display: flex;
    .nav__menu__text {
      width: 74px;
      height: 48px;
      text-align: center;
      padding: 16px 0;
      .nav__menu__btn {
        font-size: 16px;
        font-weight: bold;
        color: #AAAAAA;
        cursor: pointer;
      }
    }
    .nav__menu__right {
      margin-left: auto;
      display: flex;
      .nav__menu__sign {
        @include nav__right__text();
        padding: 16px 0;
        .nav__menu__btn {
          @include nav__right__btn();
          color: #AAAAAA;
        }
      }
      .nav__menu__post {
        @include nav__right__text();
        padding: 15px 0 10px;
        &__enclosure {
          height: 23px;
          width: 85px;
          background-color: #FFABCE;
          border: 1px solid #FFABCE;
          border-radius: 4px;
          .post-btn {
            @include nav__right__btn();
            height: 28px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
