// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿作成フォーム

.post__create__form {
  border-top: 1px solid #e6e6e6;
}

.post__form__contents{
  width: 600px;
  height: 500px;
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  .post__form {
    margin-bottom: 20px;
    &__text {
      margin-bottom: 10px;
    }
  }
  .post-submit__form {
    margin-top: 50px;
  }
}

.post__form__text {
  font-weight: bold;
}

// form-input内容

.post__input {
  width: 558px;
}

.post__inpiut-area {
  width: 558px;
  height: 100px;
}

.post__input-image {
  width: 558px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 4px;
}

.post__submit {
  width: 100px;
  margin: 0 229px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #FFABCE;
  border-radius: 4px;
  background-color: #FFABCE;
  cursor: pointer;
}



// 投稿したモノの詳細ページ

.photo__details__body {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 100px;
}

.photo__details__contents {
  margin: 50px auto;
  width: 1100px;
  display: flex;
  .details__diary {
    width: 500px;
    .details__attachment__image {
      height: 600px;
      width: 500px;
    }
  }
  .comment__contents {
    margin-left: 100px;
    width: 400px;
    height: 700px;
  }
}

// 投稿したタイトル

.photo-details__title {
  margin-bottom: 8px;
}

// 投稿した文のbody部分

.diary__texts {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 10px;
  .icon__contents {
    margin-top: 4px;
    padding: 0 16px;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    .peace__icon {
      width: 40px;
      height: 40px;
      padding: 8px;
      .heart {
        font-size: 1.5em;
      }
    }
    .post-user__icon {
      width: 40px;
      height: 40px;
      padding: 3px;
      margin-left: auto;
      margin-right: 5px;
      .post-user__attachment_image {
        height: 30px;
        width: 30px;
        border-radius: 90px;
      }
    }
  }
  .photo-details__body {
    padding: 5px 16px 0;
  }
}

// コメントを送信する部分

.user-comment__submit {
  height: 200px;
  width: 400px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  padding: 20px;
}

.comment__input {
  width: 358px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #FFABCE;
  padding: 5px;
}

.comment__btn {
  display: inline-block;
  margin: 10px 109px 0;
  width: 120px;
  color: #fff;
  font-weight: 600;
  border: 1px solid #FFABCE;
  border-radius: 4px;
  background-color: #FFABCE;
  cursor: pointer;
}

// ユーザー同士のコメント関連

.users__comments {
  height: 500px;
  width: 400px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.users__commnet__text {
  display: flex;
  .comment-user__icon {
    margin-left: 15px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    .comment-user__image {
      width: 50px;
      height: 50px;
      border-radius: 90px;
    }    
  }
  .commnet-user__text {
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #dddddd;
    padding: 10px;
  }
}


