// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿作成フォーム

.post__create__form {
  border-top: 1px solid #e6e6e6;
}

.post__form__contents{
  width: 600px;
  height: 500px;
  margin: 20px auto;
  padding: 30px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  .post__form {
    margin-bottom: 20px;
    &__text {
      margin-bottom: 10px;
    }
  }
  .post-submit__form {
    margin-top: 50px;
  }
}

.post__form__text {
  font-weight: bold;
}

// form-input内容

.post__input {
  width: 558px;
}

.post__inpiut-area {
  width: 558px;
  height: 100px;
}

.post__input-image {
  width: 558px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 4px;
}

.post__submit {
  width: 100px;
  margin: 0 229px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #FFABCE;
  border-radius: 4px;
  background-color: #FFABCE;
  cursor: pointer;
}



// 投稿したモノの詳細ページ

.photo__details__body {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 100px;
}

.photo__details__contents {
  margin: 50px auto;
  width: 1100px;
  display: flex;
  .details__diary {
    width: 500px;
    .details__attachment__image {
      height: 600px;
      width: 500px;
    }
  }
  .comment__contents {
    margin-left: 100px;
    width: 400px;
    height: 700px;
  }
}

// 編集ボタン

.details__edit__btn {
  width: 40px;
  height: 28px;
  padding: 2px;
  background-color: #FFABCE;
  border: 1px solid #FFABCE;
  border-radius: 4px;
  margin-bottom: 8px;
}
.details-edit__btn {
  color: #fff;
}

// 投稿したタイトル

.photo-details__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 22px;
}

// 投稿した文のbody部分

.diary__texts {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 10px;
  .icon__contents {
    margin-top: 4px;
    padding: 0 16px;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    .peace__icon {
      width: 40px;
      height: 40px;
      padding: 8px;
      .heart {
        font-size: 1.5em;
        margin-bottom: 5px;
        color: #FFABCE;
      }
    }
    .show__count-num {
      margin: 8px 0;
    }
    .post-user__icon {
      width: 40px;
      height: 40px;
      padding: 3px;
      margin-left: auto;
      margin-right: 5px;
      .post-user__attachment_image {
        height: 30px;
        width: 30px;
        border-radius: 90px;
      }
    }
  }
  .photo-details__body {
    padding: 5px 16px;
    font-size: 14px;
  }
}

// コメントを送信する部分

.user-comment__submit {
  height: 200px;
  width: 400px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  padding: 20px;
}

.comment__input {
  width: 358px;
  height: 120px;
  border-radius: 10px;
  border: 1px solid #FFABCE;
  padding: 5px;
}

.comment__btn {
  display: inline-block;
  margin: 10px 109px 0;
  width: 120px;
  color: #fff;
  font-weight: 600;
  border: 1px solid #FFABCE;
  border-radius: 4px;
  background-color: #FFABCE;
  cursor: pointer;
}

// ユーザー同士のコメント関連

.users__comments {
  height: 500px;
  width: 400px;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.users__commnet__text {
  display: flex;
  .comment-user__icon {
    margin-left: 15px;
    margin-top: 15px;
    height: 50px;
    width: 50px;
    .comment-user__image {
      width: 50px;
      height: 50px;
      border-radius: 90px;
    }    
  }
  .commnet-user__text {
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #dddddd;
    padding: 10px 10px 0 10px;
  }
}



// 投稿編集ページ

.photo__edit__body {
  border-top: 1px solid #e6e6e6;
  .photo__edit__form {
    margin: 20px auto;
    padding: 30px 20px;
    width: 500px;
    height: 600px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
  }
}

// 投稿編集ホーム

.photo__edit {
  display: flex;
  margin-bottom: 50px;
  &__text {
    margin-left: auto;
    margin-right: 40px;
  }
  .edit__title {
    width: 300px;
    border: 1px solid #FFABCE;
    border-radius: 4px;
    padding: 6px;
  }
  .edit__post {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #FFABCE;
    padding: 6px;
  }
  .edit__image {
    border: 1px solid #FFABCE;
    border-radius: 4px;
    width: 300px;
    padding: 6px;
  }
}

// 投稿編集ボタン

.photo__update__submit {
  margin-left: 179px;
  margin-right: 179px;
  margin-top: 80px;
  .edit__update__btn {
    width: 100px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #FFABCE;
    border-radius: 4px;
    background-color: #FFABCE;
    cursor: pointer;
  }
}



// トップページ

.index__body {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  display: flex;
  .index__diaries {
    width: 600px;
  }
  .index__users {
    margin-left: 50px;
    width: 290px;
    .index__current__user {
      height: 80px;
      margin: 10px 0;
      border-radius: 10px;
      display: flex;
    }
    .index__reration__users {
      height: 60px;
      // border: 1px solid #e6e6e6;
      border-radius: 10px;
    }
  }
}

.index__diaries__contents {
  margin-bottom: 60px;
}
.diary__user {
  height: 60px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: flex;
  padding: 16px;
  .diary__user__icon {
    height: 32px;
    width: 32px;
    .diary__user__image {
      height: 32px;
      width: 32px;
      border-radius: 90px;
    }
  }
  .diary__user__name {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    height: 20px;
    margin-left: 14px;
    margin-top: 5px;
  }
}
.post__diary {
  width: 600px;
  height: 700px;
}
.diary__icon__contents {
  height: 40px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  .diary__heart__icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-left: 10px;
    .diary__heart {
      font-size: 1.5em;
      color: #FFABCE;
    }
  }
  .index__count-num {
    margin: 3px 0;
  }
  .diary__comments__icon {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin-left: 10px;
    .diary__comments {
      font-size: 1.5em;
    }
  }
}

.index__current__icon {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  .index-current__image {
    width: 60px;
    height: 60px;
    border-radius: 90px;
  }
}
.index__current__username {
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 10px;
  font-weight: bold;
  color: #222222;
}