
.search__body {
  border-top: solid 1px #e6e6e6;
  width: 1425px;
  .search-photo__contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .posted-photos {
      margin-top: 50px;
      margin-left: 75px;
      .searched-photo__title {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
      }
      .searched__photo-image {
        width: 600px;
        height: 700px;
        .searched__image {
          width: 600px;
          height: 700px;
        }
      }
      .searched__icon__contents {
        width: 600px;
        height: 60px;
        border: solid 1px #e6e6e6;
        border-radius: 6px;
        display: flex;
        .searched__heart__icon {
          margin: 10px 0 10px 15px;
          height: 40px;
          width: 40px;
          .searched__heart {
            font-size: 2em;
            color: #FFABCE;
          }
        }
        .searched__comments__icon {
          margin: 10px 0 10px 15px;
          height: 40px;
          width: 40px;
          .searched__comments {
            font-size: 2em;
          }
        }
        .searched__user__icon {
          margin: 10px 15px 10px auto;
          height: 40px;
          width: 40px;
          .seached__user-image {
            border-radius: 90px;
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}