// Place all the styles related to the talkrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.talkroom__body {
  border-top: solid 1px #e6e6e6;
}

.talkroom__contents {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1100px;
  height: 470px;
  .talkroom_current-user {
    height: 470px;
    width: 300px;
    .talkroom__current-user__content {
      display: flex;
      height: 110px;
      padding: 10px;
      border: solid 2px #e6e6e6;
      border-radius: 20px;
      .talk__current-user {
        width: 100px;
        .talk__current-icon {
          width: 90px;
          height: 90px;
          border-radius: 90px;
        }
      }
      .talkroom__user__name {
        width: 70px;
        height: 50px;
        font-weight: bold;
        margin-top: 30px;
        font-size: 18px;
      }
    }
    .send__message {
      height: 138px;
      width: 300px;
      margin-top: 50px;
      border: solid 2px #e6e6e6;
      border-radius: 10px;
      padding: 10px 10px;
      &-field {
        height: 60px;
        width: 280px;
        border: solid 1px #FF6666;
        border-radius: 10px;
        padding: 10px;
      }
      .talk-submit {
        margin-left: 90px;
        margin-top: 20px;
        width: 100px;
        background-color: #FF6666;
        color: #fff;
        font-weight: bold;
        border: solid 1px #FF6666;
        border-radius: 4px;
      }
    }
  }
  .talkroom__messages {
    margin-left: 50px;
    margin-right: 50px;
    height: 600px;
    width: 400px;
    border: solid 2px #e6e6e6;
  }
  .talkroom__follow-user {
    width: 300px;
    height: 400px;
    border: solid 2px #e6e6e6;
    .talk__follow-user {
      width: 300px;
      height: 100px;
      display: flex;
      .talk__follow-icon {
        width: 90px;
        height: 90px;
        border-radius: 90px;
      }
      &__contents {
        height: 100px;
        width: 150px;
        .talkroom__user__name {
          width: 50px;
          height: 30px;
        }
        .talkroom__follow-user__follows {
          display: flex;
          width: 200px;
          .talkroom__follow__numbers {
            width: 50px;
          }
          .talkroom__follower__numbers {
            width: 50px;
          }
        }
      }
    }
  }
}