%header 
  .header
    .header__contents
      .header__Photo-diary
        = icon('fas', 'camera-retro', class: "header__icon-camera")
        = link_to "Photo diary", "/", class: "header__title"
      - if user_signed_in?
        %figure.current-user__icon
          = link_to user_path(current_user) do
            = attachment_image_tag current_user, :profile_image, fallback: "no-image.png", class: "current-user__image"
